* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.contenedor {
    display: grid;
    height: 100vh;
    margin: 0px 75px 0 75px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.2fr;
    grid-template-areas:
        "h1 h1 h1"
        "col col2 col3"

}

h1 {
    grid-area: h1;
    text-align: center;
    margin: 20px 0 50px 0;
}


.col {
    grid-area: col;
    margin: 0 0 0 100px;
}

.col2 {
    grid-area: col2;
    margin: 0 200px 0 0;
}

.col3 {
    grid-area: col3;
    margin: 0 160px 0 0;
}

p {
    margin: 0 0 20px 0;
}

.cont {
    margin: 0 0 17px -38px;
}

h2 {
    margin: 0 0 20px -40px;
}

.h2 {
    margin: 0 0 20px 0;
}


@media screen and (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.0fr 2.0fr 2.0fr;
        grid-template-areas:
            "h1"
            "col"
            "col2"
            "col3";
    }

    .col {
        margin: 0 0 25px 0;
    }

    .col2 {
        margin: 0 0 25px -38px;
    }

    .col3 {
        margin: 0 0 25px 0;
    }

    .cont {
        margin: 0 0 17px -40px;
    }

    h1 {
        text-align: left;
        margin: 20px 4px 25px -40px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 2.0fr 2.0fr;
        grid-template-areas:
            "h1 h1"
            "col col2"
            "col col3";
    }

    .col, .col2, .col3 {
        margin: 0;
    }

    .col3 ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    .col3 li {
        max-width: 150px; 
        margin-right: 20px;
    }

    .cont {
        margin: 0 0 20px 0;
    }

    .h2-2 {
        margin: 0 0 25px 0;
    }
}